.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  grid-template-columns: repeat(auto-fit);
  align-items: center;
  justify-content: center;
  /* margin-left: 40px;
  margin-right: 40px; */
  padding-right: 60px;
  padding-top: 20px;
  padding-left: 40px;

}


.box{
  max-height: 250px;
  border-radius: 8px;
  height: 250px;
  max-height: 50vh;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  margin-bottom: 40px;
  align-items: center;
  cursor: pointer;
  opacity: 0.85;
}

.category-button{
  color: darkgrey;
  border: none;
  text-align: center;
  cursor: pointer;
}

.box:hover {
  transition-duration: 0.2s;
  transform: scale(1.05);
  box-shadow: 0 2px 20px;
  color: black;

}



