/* HOME PAGE */
.home-title{
  padding: 80px;
  padding-top:300px;
  padding-left: 120px;
  font-family: 'Abril Fatface';
  font-size: 150px;
  font-style: italic;
  font-weight: lighter;
  color: white;
}

.home-page{
  background-color: #D9E8F5;
}

.home-title-description{
  font-size:25px;
  padding-left: 120px;
  padding-bottom: 410px;
}

.app{
  font-family: Lora;
}

.why-self-full, .why-self-care, .what-is-self-care{
  padding: 100px;
  font-size: 20px;

}

h2{
  padding-bottom: 20px;
}

.what-is-self-care-image{
  position: absolute;
  left: 70px;
  top: 1150px;
  max-height: 60%;

}

.what-is{
  position: absolute;
  left: 750px;
  /* right: 30px; */
  top:1300px;
  margin-right: 200px;

}

.what-is-self-care{
  margin-bottom: 200px;

}

.why-self-care-image{
  position: absolute;
  top: 1950px;
  max-height:40%;
  max-width: 50%;
  right: 200px;
}

.why{
  position: absolute;
  top: 2050px;
  margin-right:700px;
  left: 150px;

}

.why-self{
  position: absolute;
  top: 2800px;
  left: 180px;
  margin-right: 500px;
  padding-bottom: 400px;
  align-items: center;
}

/* CATEGORY ALL */

.all-categories{
  background-color: #E1EEDB;
height: 100%;
padding-bottom: 80px; 
}

.categories-title{
  /* padding:100px; */
  padding-left: 150px;
  padding-top: 150px;
  font-size: 70px;
}

.categories-desc{
  padding-left: 180px;
  padding-top: 60px;
  font-size: 20px;

}

/* CATEGORY SHOW */

.category-show{
  padding: 100px;
  background-color: #FFF0F5;
  height: 100%;
}

.category-title {
  padding: 50px;
  font-size: 70px;
  padding-bottom: 80px;
}

.category-description{
  padding-left: 80px;
  padding-bottom: 80px;
  font-size: 20px;
  margin-right: 150px;
}

.category-activities{
  padding-left: 150px;
  padding-bottom: 80px;
  margin-right: 100px;
}


.activity-list-item{
  list-style-type: '🖤 ';
  list-style-position: outside;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

.activities-title, .category-description-title{
  padding-bottom: 10px;
}

.activities-title{
  padding-bottom: 20px;
}

/* CATEGORY SHOW EXPERIENCES */


.add-input{
  margin-bottom: 2px;
  margin-right: 5px;
  margin-top: 15px;
  margin-left: 20px;
  width: 40%;
  font-size: 18px;
  
  padding: 5px;;
}

.category-experiences{
  margin-top: 50px;
  padding-left: 150px;
  font-size: 18px;
}

.experience-list-item{
  font-size: 20px;
  padding: 8px;
  margin-left: 20px;
  list-style: '✦';
  margin-right: 5px;
}
.experience-list-comment{
  padding-right: 20px;
  padding-left: 20px;
}
.experience-list{
  /* display: inline-block; */
  position: relative;
  margin-right: 150px;
}

.edit-experience-button, .add-experience-button{
  margin: auto;
}



.error-message{
  display: flex;
  color: red;
  /* font-style: italic; */
  font-weight: bold;
  font-size: 18px;
}

.category-resources{
  margin-top: 50px;
  padding-left: 150px;
  margin-right: 150px;

}

.resources-title{
  padding-top:60px;
  padding-bottom: 20px;
}

.resource-list-item{
  padding-left: 20px;
  font-size: 20px;
  margin-right: 8px;
  padding-bottom: 8px;
  margin: 5px;
  list-style-type: '➤';
}
.resource-link{
  padding-left: 10px;
  font-size: 18px;
}


/* LOGIN */
/* from home page */
.login-button, .logout-button{
  border: none;
  position: absolute;
  top:20px;
  right: 20px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: white; 
}

.login, .signup{
  /* padding-top: 80px;
  padding-bottom: 100%; */
  background-image: url('https://img.freepik.com/premium-photo/pastel-color-sea-sky-beautiful-landscape-seaside-background_51012-573.jpg');
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.85;
}


.login-box, .signup-box{
  position: relative;
  background-color: #FDF4EA;
  width:500px;
  height: 550px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
}

.login-title, .signup-title{
  font-size: 2em;
  text-align: center;

}

.close-btn{
  position: absolute;
  right:5px;
  top: 8px;
  border: none;
  border-radius: 50%;
  background-color: white;
  
}

.close-btn:hover{
  color:white;
  background-color: black;
}

.edit-input{
  width: 40%;
    margin-bottom: 2px;
    margin-right: 5px;
    padding: 5px;
    margin-left: 20px;
}

.signup-input, .login-input{
  margin: 10px;
  width: 85%;

} 

.login-submit, .signup-submit{
  background-color: white;
  border: none;
  width: 100%;
  margin: 5px;
  padding: 8px;
}

.sign-up-btn, .login-btn{
  background-color: white;
  border: none;
  margin: 5px;
  padding: 8px;
}

.login-submit:hover,.signup-submit:hover, .sign-up-btn:hover, .login-btn:hover{
  background-color: #DFECF8;
}


.errors{
  color: red
}

.bio-input{
  margin: 10px;
  height: 60px;
  width:85%
}







/* POPUP FORMS */
.confirm-button{
  border:none;
  margin: 8px;
  margin-top: 15px;
  padding: 10px;
  background-color: white;
    font-size: 90%;

}

.delete-form{
  justify-content: center;
  align-items: center;
}

.delete-confirm{
  align-items: center;

}
/* 
.submit-add, .edit-button{
  border: none;
  background-color: white;
  padding: 5px;
  margin:2px;
  font-size: 14px;
} */

.add-button{
  border: none;
  background-color: white;
  padding: 10px;
  margin: 2px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 20px;
  font-size: 20px;
}

.submit-add:hover, .add-button:hover{
  background-color: #686868;
  color:white;
}

/* PROFILE */

.nav-bar{
  height:90px;
}
.profile{
  margin:100px;
}

.welcome-image{
  position:absolute;
  top:150px;
  max-height: 20%;
  left:130px;
}
.profile-edit-button{
  position: absolute;
  top:230px;
  right: 145px;
}

.user-info{
  position: absolute;
  top:30%;
  margin-left: 50px;
  margin-top: 10px;
}

.welcome-statement{
  display: flex;
  margin-top: 15px;
}

.welcome-username{
  font-style: italic;
  margin-left: 12px;
  font-size: 60px;;

}

.image-bio{
  padding-top: 180px;
  margin-right: 230px;
  display: flex;
  align-items: center;
  margin-left: 130px;
  padding-bottom: 180px;
}

.profile-image{
  width: 20%;
  /* margin-right: 200px; */
  display: flex;
  position: absolute;
}

.profile-bio{
  position: relative;
  padding-top:10px ;
  margin-left: 400px ;
  font-size: 18px;
}

.bio{
  padding-left: 10px;
}

.welcome{
  font-size: 60px;
}

.user-experiences{
  font-size: 18px;
  /* margin-top: 130px; */
  margin-left: 100px;
  align-items: center;
  padding-bottom: 200px;
  margin-right: 230px;
  
}
.user-experiences-list{
  list-style-type: '➤';
  padding-left: 20px;
  padding: 12px;

}

.user-experiences-list-item{
  position: relative;
  padding-left: 12px;
  cursor: pointer;

}

.user-experiences-list:hover{
  color:#FF7F50
}

.user-experiences-title{
  margin-top: 70px;
  margin-bottom: 20px;
}


/* EDIT PROFILE */
/* .edit-profile-form{
  display: flex;

} */

.profile-edit {
  min-width: 100%;
  height: 70vh;
  /* border: dotted #f55a00 5vw; */
  /* border: 1px solid red; */
  margin: 0vw;
  padding: 5vw;
  position: relative;
  /* position:relative for .prevBtn and .nextBtn position:absolute; */
}
.profile-edit input,
textarea {
  display:inline-block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  padding-bottom: 5px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}
.bio-textarea{
  height: auto;
  padding-bottom:100px
}


.profile-edit textarea {
  height: 15vh;
}
.image-change{
  display: flex;
  justify-content: center;
}


.image-carousel{
  margin-left: 30px;
  width: 30%;
  max-height: 80%;
}

.edit-profile-image{
  width:30%
}

.edit-profile-image:hover {
  transition-duration: 0.3s;
  transform: scale(1.25);
  cursor: pointer;
}

.edit-image-choose:hover{
  opacity: 0.9;
  cursor: pointer;
}

.modal-form{
  font-family: Lora;
}

.modal-title{

  justify-content: center;
}


  /* box-shadow: 0 2px 20px;



.edit-profile-image {
  opacity: 1;
  width: 40%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.edit-profile-image:hover {
  opacity: 0.3;
}

.edit-msg {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* ACTIVITIES */

.all-activities{
  background-color: #ECE8F4;
  height: 100%;
  padding-bottom: 40%;
}
.activities{
  padding:100px;
}

.all-activities-title{
  padding:50px;
  font-size: 70px;
}

.all-activities-desc{
  padding-left: 80px;
  font-size: 20px;
}

.all-activities-list{
  padding: 5px;
  margin-left:100px ;
  font-size: 18px;
  margin-right: 80px;
}

.search-button{
  background-color: white;
  padding: 5px;
  margin-right: 10px;
  margin-left:2px;
  border-width: 1px;

}

.filter-section{
  display: flex;
  margin-left: 80px;
  margin-bottom: 50px;
}

.sort-select{
  padding-left: 5px;
  margin-right: 10px;
}


.refresh-filter-button{
  background-color: white;
  border-width: 1px;
  margin-left: 2px;
  padding:7px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 90%;
}



